[Unit]
Description=Bot Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/polly_bot/src/bot.py
WorkingDirectory=/home/ubuntu/polly_bot/src
User=ubuntu
Group=ubuntu
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

